@font-face {
	font-family: 'whatthefuck';
	src:url('fonts/whatthefuck.eot');
	src:url('fonts/whatthefuck.eot?#iefix') format('embedded-opentype'),
		url('fonts/whatthefuck.woff') format('woff'),
		url('fonts/whatthefuck.ttf') format('truetype'),
		url('fonts/whatthefuck.svg#whatthefuck') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'whatthefuck';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zzz:before {
	content: "\61";
}
.icon-typ:before {
	content: "\62";
}
.icon-phoneTeam:before {
	content: "\63";
}
.icon-phoneNormal:before {
	content: "\64";
}
.icon-phoneHappy:before {
	content: "\65";
}
.icon-muesli:before {
	content: "\66";
}
.icon-mrBusinessR:before {
	content: "\67";
}
.icon-mrBusinessL:before {
	content: "\68";
}
.icon-mrBusinessBoard2:before {
	content: "\69";
}
.icon-mrBusinessBoard1:before {
	content: "\6a";
}
.icon-mrBusiness:before {
	content: "\6b";
}
.icon-guentherEinspunktnull:before {
	content: "\6c";
}
.icon-guenther:before {
	content: "\6d";
}
.icon-catBoard2:before {
	content: "\6e";
}
.icon-catBoard1:before {
	content: "\6f";
}
.icon-cat:before {
	content: "\70";
}
.icon-androduino:before {
	content: "\71";
}
